In [ ]:
#---#| default_exp scoring.fdr

# FDR functionalities

Functionalities to calculate FDR.

> In alphabase dataframes, we refer fdr values as q_values without loss of generacity.

In [ ]:
from alphabase.scoring.fdr import *

In [ ]:
df = pd.DataFrame(
    {
        'score': np.random.random(500)*10+11,
        'decoy': 0,
        'kind': True,
    }
)
f_score = np.random.random(500)*9.9
df = df.append(
    pd.DataFrame(
        {
            'score': f_score+0.01,
            'decoy': 1,
            'kind': False
        }
    )
)
df = df.append(
    pd.DataFrame(
        {
            'score': f_score,
            'decoy': 0,
            'kind': False
        }
    )
)
df = df.append(
    pd.DataFrame(
        {
            'score': np.random.random(5)+10,
            'decoy': 1,
            'kind': False
        }
    )
)

df = calculate_fdr(df, 'score', 'decoy')
df

          score  decoy   kind       fdr
417   20.986751      0   True  0.000000
486   20.958803      0   True  0.000000
46    20.954244      0   True  0.000000
131   20.832440      0   True  0.000000
236   20.809595      0   True  0.000000
...         ...    ...    ...       ...
1111   0.046366      0  False  0.504008
709    0.040841      1  False  0.504505
1209   0.030841      0  False  0.504505
939    0.013704      1  False  0.505000
1439   0.003704      0  False  0.505000

[1505 rows x 4 columns]

In [ ]:
df[(df.fdr < 0.01)&(df.decoy==0)]

         score  decoy  kind  fdr
417  20.986751      0  True  0.0
486  20.958803      0  True  0.0
46   20.954244      0  True  0.0
131  20.832440      0  True  0.0
236  20.809595      0  True  0.0
..         ...    ...   ...  ...
313  11.070695      0  True  0.0
227  11.028431      0  True  0.0
153  11.014330      0  True  0.0
113  11.013978      0  True  0.0
48   11.010629      0  True  0.0

[500 rows x 4 columns]

In [ ]:
#| hide
assert len(df[(df.fdr < 0.01)&(df.decoy==0)]) == 500

In [ ]:
#| hide
dff = pd.DataFrame(
    {
        'score': np.random.random(500)*10+11,
        'decoy': 0
    }
)
f_score = np.random.random(500)*9.9
dff = dff.append(
    pd.DataFrame(
        {
            'score': f_score+0.01,
            'decoy': 1
        }
    )
)
dff = dff.append(
    pd.DataFrame(
        {
            'score': f_score,
            'decoy': 0
        }
    )
)
dff = dff.append(
    pd.DataFrame(
        {
            'score': np.random.random(5)+10,
            'decoy': 1
        }
    )
)

dff['fdr'] = fdr_from_ref(dff.score.values, df.score.values, df.fdr.values)

assert len(dff[(dff.fdr < 0.01)&(dff.decoy==0)]) == 500

In [ ]:
#| hide
dff = calculate_fdr_from_ref(dff, df.score.values, df.fdr.values, 'score')
assert len(dff[(dff.fdr < 0.01)&(dff.decoy==0)]) == 500